.header {
    max-width: 1140px;
    max-height: 73px;
    margin: 0 139px 86px 139px;
    padding: 50px 0 0 0;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.header__logo {
    margin: 11px 0 10px;
    padding: 0;
}

.header__logo-image {
    width: 140px;
    height: 24px;
    background-image: url(../../images/logo_welbex.svg);
}

.header__logo-title {
    max-width: 165px;
    margin: 0 0 4px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.header__item{
    max-width: 503px;
    margin: 15px 140px 0 53px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header__item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
}

.header__contacts {
    margin: 14px 0 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__contacts-number {
    margin: 0 15px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

.header__contacts-link_telegram {
    width: 20px;
    height: 20px;
    background-image: url(../../images/telegram.svg);
}

.header__contacts-link_viber {
    width: 20px;
    height: 19px;
    background-image: url(../../images/viber.svg);
}

.header__contacts-link_whatsapp {
    width: 20px;
    height: 20px;
    background-image: url(../../images/whatsapp.svg);
}

@media screen and (max-width:320px) {
    .header {
        margin: 0;
        padding: 0;
        background: #0E1014;
        position: relative;
        z-index: 1;
    }

    .header__logo {
        display: none;
    }

    .header__item {
        margin: 0 16px;
        padding: 20px 0;
        gap: 16px;
    }

    .header__item-link {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .header__item-link:last-child {
        display: none;
    }

    .header__contacts {
        display: none;
    }
}